<%= form_with(model: [:admin, station], local: true, html: {style: "display: #{hidden ? 'none' : 'block' }"}, id: "edit_railway_station_#{station.id}") do |form| %>
  
  <%= render 'shared/errors', resource: station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
