<%= form_with(model: [:admin, route], local: true, html: {style: "display: #{hidden ? 'none' : 'block'}"}, id: "edit_route_#{route.id}") do |form| %>
  
  <%= render 'shared/errors', resource: route %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :railway_station_ids %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
