<%= form_with(model: train, local: true) do |form| %>
  
  <%= render 'shared/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :routes %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
