<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Route:</strong> 
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Route not assigned 
  <% end %>
</p>
<p>
  <% @train.sorting_wagons.each do |wagon| %>
    <%= link_to wagon.number, wagon_path(wagon) %>
  <% end %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
