<h1><%= t('.title') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('.number') %></th>
      <th><%= t('.start_station') %>-<%= t('.end_station') %>:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
