<p><h1>
  <strong><%= t('.title') %> </strong>
  <%= @ticket.number %>
</h1></p>

<p>
  <strong><%= t('.full_name') %> </strong>
  <%= @ticket.first_name %>
  <%= @ticket.last_name%>
</p>

<p>
  <strong><%= t('.departure_time') %> </strong>
  <%= @ticket.first_station.departure_time(@train.route) %>
  <br>
  <strong><%= t('.arrival_time') %> </strong>
  <%= @ticket.last_station.arrival_time(@train.route) %>
</p>

<p>
  <strong><%= t('.start_station') %>-<%= t('.end_station') %>: </strong>
  <%= "#{@ticket.first_station.title} - #{@ticket.last_station.title}"%>
</p>

<%= link_to t('common.all_tickets'), tickets_path %>

