<%= form_with(model: wagon, local: true) do |form| %>
  
  <%= render 'shared/errors', resource: @wagon %>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Wagon.types.map {|t| [t.humanize, t.camelcase] } %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :train_id %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :top_places %>
    <%= form.number_field :top_places %>
  </div>

  <div class="field">
    <%= form.label :bottom_places %>
    <%= form.number_field :bottom_places %>
  </div>

  <div class="field">
    <%= form.label :side_top_places %>
    <%= form.number_field :side_top_places %>
  </div>

    <div class="field">
    <%= form.label :side_bottom_places %>
    <%= form.number_field :side_bottom_places %>
  </div>

    <div class="field">
    <%= form.label :seating_places %>
    <%= form.number_field :seating_places %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>