<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Top places</th>
      <th>Bottom places</th>
      <th>Side top places</th>
      <th>Side bottom places</th>
      <th>Seating places</th>
    </tr>
  </thead>
  <tbody>
    <% @wagons.each do |wagon| %>
      <tr>
        <td><%= wagon.number %></td>
        <td><%= wagon.top_places %></td>
        <td><%= wagon.bottom_places %></td>
        <td><%= wagon.side_top_places %></td>
        <td><%= wagon.side_bottom_places %></td>
        <td><%= wagon.seating_places %></td>
        <td><%= link_to 'Show', sti_wagon_path(wagon.type, wagon) %></td>
        <td><%= link_to 'Edit', '' %></td>
        <td><%= link_to 'Destroy', '' %></td>
      </tr>
     <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New wagon', new_wagon_path %>