<p id="notice"><%= notice %></p>

<p>
  <strong>Type of the wagon:</strong>
  <%= @wagon.type.underscore %>
</p>

<%= render "#{@wagon.type.underscore}", wagon: @wagon %>

<p> 
  <strong>The wagon belongs to the train with the number:</strong>
  <%= @wagon.train.number %>
</p>


<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', train_path(@wagon.train) %>
