<p id="notice"><%= notice %></p>

<p>
  <strong>Type of the wagon:</strong>
  <%= @wagon.type_of_wagon %>
</p>

<p>
  <strong>Amount of top places:</strong>
  <%= @wagon.top_places %>
</p>

<p>
  <strong>Amount of bottom places:</strong>
  <%= @wagon.bottom_places %>
</p>

<p> 
  <strong>The wagon belongs to the train with the number:</strong>
  <%= @wagon.train.number %>
</p>


<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>