<h1>New wagon</h1>

<select name="type", id='wagon_type'>
  <option value="coupe_wagon">Coupe wagon</option>
  <option value="economy_wagon">Economy wagon</option>
  <option value="seated_wagon">Seated wagon</option>
  <option value="sleeping_wagon">Sleeping wagon</option>
</select>

<%= render 'form_coupe_wagon', wagon: @wagon, hidden: true %>
<%= render 'form_economy_wagon', wagon: @wagon, hidden: true %>
<%= render 'form_seated_wagon', wagon: @wagon, hidden: true %>
<%= render 'form_sleeping_wagon', wagon: @wagon, hidden: true %>

<%= link_to 'Back', admin_trains_path(@train) %>
