<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id='notice' class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p> Signed in as: <%= current_user.email %></p>
      <p><%= "Hello, #{current_user.first_name} #{current_user.last_name}" %></p>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
    <footer class="footer">
      <p>(с) 2022 Victoria Stanislavovna. Educational project in  <a href="https://thinknetica.com/">the online school Thinknetica</a> </p>
    </footer>
  </body>
</html>
